[Unit]
Description=Raspberry Pi Fan Control Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/fan_control.py
Restart=always
User=pi
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
